@import 'src/styles/functions';
@import 'src/styles/mixins';

.HelpFlow__row {
  @include padding-v(1);
  display: flex;
  max-width: unit(100);
  margin-bottom: unit(3);
  line-height: 1.3;
  &:hover {
    background-color: var(--term-js-modals-close-active);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.HelpFlow__title {
  font-weight: 600;
  width: unit(40);
}

.HelpFlow__text {
  flex: 1;
  cursor: default;
}
